@media screen and (max-width: 376px) {
	#phone-version #rate {
		width: 315px;
		margin: 0 auto;
		border-radius: 10px;
		background: linear-gradient(45deg, rgba(68,129,235,1) 0%, rgba(4,190,254,1) 100%);
		color: #ffffff;
	}

	#phone-version #rate #rateHeader {
		padding-left: 15px;
		padding-top: 12px;
		font-family: SFProText-Semi;
	}

	#phone-version #rate #purchaseRate {
		display: flex;
		padding-top: 3px;
		align-items: center;
		justify-content: center;
		padding-bottom: 12px;
	}

	#phone-version #rate #purchaseRate img {
		margin-left: 5px;
		width: 15px;
		height: 15px;
	}

	#phone-version #preview {
		margin: 20px auto;
		width: 315px;
	}

	#phone-version #preview textarea {
  		overflow: hidden;
  		resize: none;
  		width: 293px;
  		height: 20px;
  		font-size: 16px;
  		border-radius: 10px;
  		padding: 10px;
  		font-family: SFProText;
	}

	#phone-version #preview #coins {
		margin-top: 10px;
	}

	#phone-version #selectedItem {
		z-index: 3;
		margin-top: -1px;
		margin-left: -1px;
		position: absolute;
		background:  #ffffff;
		width: 283px;
		height: 42px;
		border: solid 1px #4481EB;
		border-radius: 10px;
		color: #4481EB;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
	}

	#phone-version #selectedItem img {
		width: 20px;
		height: 20px;
	}

	#phone-version #method {
		z-index: 2;
		position: relative;
		background: #ffffff;
		width: 313px;
		border: solid 1px #4481EB;
		border-radius: 10px;
		color: #4481EB;
		margin: 0 auto;
		height: 40px;
		overflow: hidden;
		transition: height ease-in-out 0.5s;
	}

	#phone-version #method #first-element {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#phone-version #method img {
		width: 20px;
		height: 20px;
		transition: all ease-in-out 0.5s;
	}

	#phone-version #method ul {
		list-style: none;
		padding: 0 15px;
		margin: 22px 0 15px 0;
	}

	#phone-version #method ul li {
		margin-bottom: 11px;
	}

	#phone-version #button {
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: 50%;
	}

	#phone-version button {
		z-index: 1;
		width: 315px;
		height: 44px;
		color: #ffffff;
		margin-top: 70px;
		border-radius: 22px;
		background: linear-gradient(-45deg, rgba(68,129,235,1) 0%, rgba(4,190,254,1) 100%);
		border: none;
		font-family: SFProText;
		font-size: 15px;
	}
}