@font-face {
  font-family: SFProText;
  src: url("fonts/SFProText-Regular.ttf");
}

@font-face {
  font-family: SFProText-Semi;
  src: url("fonts/SFProText-Semibold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: SFProText;
}

/* Preloader */

#page-preloader {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  z-index: 4;
}
#loader {
  flex: 1 1 25%;
}
.sk-three-bounce {
  width: 8em;
  margin: auto;
  text-align: center;
}
.sk-three-bounce .sk-child {
  width: 2em;
  height: 2em;
  background: linear-gradient(45deg, rgba(68,129,235,1) 0%, rgba(4,190,254,1) 100%);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
          animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce-1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce-2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.done {
  transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
  opacity: 0;
  visibility: hidden;
}

#pc-version #plug {
  width: 100%;
  text-align: center;
}

#pc-version #plug img {
  margin-top: 100px;
  width: 50%;

}

#pc-version {
  display: block;
}

#phone-version {
  display: none;
}

@media screen and (max-width: 376px){
  #pc-version {
    display: none;
  }

  #phone-version {
    display: block;
  }

  #phone-version #bg-gradient {
    top: -50px;
    left: -60px;
    position: fixed;
    z-index: 1;
    transform: rotate(35deg);
  }

  #phone-version #bg-gradient img {
    width: 800px;
    height: 500px;
  }

  #phone-version #content {
    z-index: 2;
    position: relative;
    width: 315px;
    margin: auto;
  }

  #phone-version #content img {
    width: 25px;
    height: 25px;
    padding: 9.5px 0;
  }

  #phone-version #content #text {
    height: 90vh;
    overflow: scroll;
  }

  #phone-version #content #text .mainHeader {
    font-family: SFProText-Semi;
    font-size: 20px;
  }

  #phone-version #content #text .miniHeader {
    font-family: SFProText-Semi;
  }

  #phone-version #content #text p {
    color: #323232;
  }
}
